<header>
    <img src="assets/img/photo-dierony.jpg" alt="Dierony Sousa - Foto de perfil" width="130px" height="130px"
        loading="eager" />
    <h1>Dierony Sousa</h1>
</header>

<aside>
    <div class="container">
        <p>Front-End Javascript | Angular | React | NodeJs | </p>
        <p>Lavras, Minas Gerais, Brasil</p>
        <p>
            Desenvolvedor Front-End formado em Análise e Desenvolvimento de Sistemas pelo Centro Universitário de Lavras
            (UNILAVRAS). Focado em criar interfaces funcionais e eficientes, buscando sempre aprimorar minhas
            habilidades.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv-dierony-sousa.pdf" target="_blank" class="btn btn-primary">Download CV</a>
                </li>
                <li>
                    <a href="www.linkedin.com/in/dierony-sousa" target="_blank" class="btn btn-secondary">LinkedIn</a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="/assets/icons/whatsapp.svg" alt="Ícone para contato do WhatsApp" width="22px" height="24px">
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5535999696413&text=Ol%C3%A1%Dierony,%20preciso%20de%20um%20job!"
                        target="_blank"><strong>Envie uma mensagem para: </strong>
                        <p>WhatsApp: (35) 99969-6413</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img src="assets/icons/mail.svg" alt="Ícone para contato do e-mail" width="22px" height="24px">
                <figcaption>
                    <a href="mailto:dieronysousa@gmail.com" target="_blank"><strong>Envie um e-mail para: </strong>
                        <p>dieronysousa&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>